.calculator-container {
    width: 100vh;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    border-radius: 10%;
    background-color:black;
    height: 300px;
    width: 230px;
    border: 5px solid black;
}
.cal-buttons{
    color:greenyellow;
    border-radius: 20px;
text-align: center;
cursor:pointer;
}




/*

*/
